{% extends 'base.html' %}
{% block content %}
<div class="row">
      <div class="col s12 m8 offset-m2 l6 offset-l3">
	{% if error %}
	<p>
           <i class="fa fa-exclamation-triangle" aria-hidden="true"></i>
           &nbsp;<strong>Error while adding the food. Please try again.</strong>
        </p>
	{% endif %}

	<form method="post" action="/add">
	    {% csrf_token %}
	    {{ form.as_p }}
	    <input class="waves-effect waves-light btn light-blue darken-4" type="submit" value="Add" />
	</form>
     </div>
</div>

{% endblock %}
