{% extends 'base.html' %}
{% block content %}
        <br> 
        <div class="container">
            <div class="row">
                 <div class="col s12 m8 offset-m2 l6 offset-l3">
                     {% if user.is_authenticated %}
                     <h6 class="center-align">Hi {{user.username|capfirst}}, click on &nbsp;<i class="fa fa-plus" aria-hidden="true"></i> to add some nice food !</h6>
                     {% else %}
                     <h6 class="center-align">Click on &nbsp;<i class="fa fa-user" aria-hidden="true"></i> to login so you can add some food !</h6>
		     {% endif %}
                 </div>
            </div>
            <div class="row hide-on-med-and-up">
                 <div class="col s12 m8 offset-m2 l6 offset-l3">
			<form action="search" method="get" class="row">
    				<div class="input-field col s10">
       					<input placeholder="Search Fooooood !" id="search_query_s" name="q" type="text" class="validate">
    				</div>
    				<div class="col s2">
        				<button style="background: transparent;border:none;font-size:2em; padding:10px;" type="submit"><i class="fa fa-search" aria-hidden="true"></i></button>
        
    				</div>
			</form>
                 </div>
            </div>
            <div class="row">
                {% for food in all_food %}
                <div class="col s12 m6 l4 ">
                    <div class="card-panel ">
                      <div class="custom_card_size">
                      <strong>{{ food.name|capfirst }}</strong>
                      <br>
                      <span class="description">{{ food.short_desc|truncatechars:80 }}</span>
                      </div>
                      <br>
                      
		      <span><i class="fa fa-heart" style="color:red" aria-hidden="true"></i>&nbsp;{{ food.taste_level }}/10</span>
		      <span class='right'><i class="fa fa-leaf" style="color:green"  aria-hidden="true"></i>&nbsp;{{ food.healthy_level }}/10</span>
		      <hr>
		      <span>&nbsp;{{ food.quantity }} left</span>
		      <span class='right'><strong>${{ food.price }}</strong></span>
                    </div>
                </div>
                {% endfor %}
            </div>
         </div>
{% endblock %}
